<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
 
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
  <%= link_to 'Edit avatar' %> 
  
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", @user, :confirm => "Are you sure?", :method => :delete %>.</p>


<%= link_to "Back", :back %>


